@model Core.Concretes.DTOs.PersonalListDTO

@{
    ViewData["Title"] = "Gürkan N. Kalkan";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


<section class="hero text-center mt-5" id="anasayfa">
    <div class="container">
        <img src="https://via.placeholder.com/150" alt="Profil Fotoğrafı" class="rounded-circle mb-3 border border-3 border-light">
        <h1>Merhaba, Ben @Model?.FullName</h1>
        <p class="lead">@Model?.Description</p>
        <a href="#projeler" class="btn btn-primary btn-lg mt-3">Çalışmalarımı İncele</a>
    </div>
</section>