@model GurkanKalkanPortfolio.Web.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Gürkan N. Kalkan";
}

@{
    string[] nameClasses = { "bg-primary","bg-secondary","bg-success","bg-danger","bg-info text-dark" };
    int nameCounter = 0;
}

<section class="hero text-center mt-5" id="anasayfa">
    <div class="container">
        <img width="250" height="319" src="~/img/Bennn.jpg" alt="Profil Fotoğrafı" class="rounded-5 mb-3 border border-3 border-light">
        <h1>Merhaba, Ben @Model.Personal.FullName</h1>
        <p class="lead">@Model.Personal.Title</p>
        <a href="#projeler" class="btn btn-primary btn-lg mt-3">Çalışmalarımı İncele</a>
    </div>
</section>

<section class="section-padding" id="hakkimda">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Hakkımda</h2>
                <p>@Model.Personal.Description</p>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">Yeteneklerim</h2>
                @foreach (var skill in Model.Skills)
                {
                    string currentNameClass = nameClasses[nameCounter % nameClasses.Length];
                    <span class="badge @currentNameClass fs-6 mb-2">@skill.Title</span>
                    nameCounter++;
                }
                
            </div>
        </div>
    </div>
</section>

